@import "tailwindcss";

/* CONFIGURACIÓN DE COLORES Y FUENTES PARA V4 */
@theme {
  --color-brand-dark: #001d3d;
  --color-brand-light: #bfccd9;
  --color-brand-yellow: #ffc300;
  --color-brand-gray: #b4b3b3;
  --color-brand-white: #ffffff;

  --font-galilea: "Galilea Sans Variable", sans-serif;
  --font-titan: "Titan One", cursive;

  --font-weight-tarea-bold: 700;
  --font-weight-horario-reg: 400;
  --font-weight-detalle-light: 300;
}

/* DECLARACIÓN DE FUENTES (Asegúrate de que los nombres de archivo sean correctos) */
@font-face {
  font-family: 'Galilea Sans Variable';
  /* REVISA: Asegúrate que la extensión sea .ttf o .otf según tu archivo */
  src: url('./assets/GalileaSansVariablePERSONAL.ttf') format('truetype');
  font-weight: 300 400 700; /* Especificamos los pesos disponibles */
  font-style: normal;
}

@font-face {
  font-family: 'Titan One';
  src: url('./assets/TitanOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #001d3d;
  font-family: var(--font-galilea);
}