/* 1. Inyectar Tailwind CSS (¡Esto es lo más importante!) */
@import "tailwindcss";

/* 2. Declarar tus fuentes personalizadas */
@font-face {
  font-family: 'Galilea Sans Variable';
  src: url('./assets/Galilea-Sans.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Titan One';
  src: url('./assets/TitanOne-Regular.ttf') format('truetype'); 
}

/* 3. Estilos globales limpios */
body {
  margin: 0;
  font-family: 'Galilea Sans Variable', sans-serif;
  background-color: #f0f4f8; /* El fondo grisáceo suave de tu diseño */
}